<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
         https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <!-- ClientSideServlet -->
    <servlet>
        <servlet-name>ClientSideServlet</servlet-name>
        <servlet-class>com.nss.ClientSideServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClientSideServlet</servlet-name>
        <url-pattern>/ClientSideServlet</url-pattern>
    </servlet-mapping>

    <!-- ServerSideServlet -->
    <servlet>
        <servlet-name>ServerSideServlet</servlet-name>
        <servlet-class>com.nss.ServerSideServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServerSideServlet</servlet-name>
        <url-pattern>/ServerSideServlet</url-pattern>
    </servlet-mapping>

    <!-- Welcome file -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>
